.filterItem{
    width: 125px;
    height: 155px;
    border-radius: 14px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-decoration: none;


    .filterIcon{
        color: white;
        width: 62.5px;
        height: 62.5px;
        margin: 0 25%;
        font-size: 220%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-top: 5px;
    }
    .filterTitle{
        font-weight: 600;
        width: 90%;
        margin: 0 5%;
        text-align: center;
    }
}
.filterItem:hover{
    background: #dfdfdf7d;
}
.activeFilter{
    background: #dfdfdf7d;
}